

html {
    scroll-behavior: smooth;
    scroll-padding: 0;
    scrollbar-width: thin;
    scrollbar-color: #c4c4c4 #f5f5f5;
    

    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
      }
    
      ::-webkit-scrollbar-track {
        background: linear-gradient(to left bottom, #f6e2ed, #f6e8f2, #f6edf7, #f8f3fa, #faf8fd, #faf8fe, #faf7fe, #faf7ff, #f8f0ff, #f6e9ff, #f6e2ff, #f7daff);
        border-radius: 10px;
      }
    
      ::-webkit-scrollbar-thumb {
        background-color: #c4c4c4;
        border-radius: 10px;
        transition: 350ms ease-in-out;
    }
    
    ::-webkit-scrollbar-thumb:hover {
      background-color: #F6DBCF;
    }
}

body {
    font-family: 'Poppins', sans-serif;
}